<html>
    <head>
        <title>My First Template</title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body class="bg-white dark:bg-gray-900 text-gray-700 dark:text-white">
        <!-- <div class="flex justify-center border-2 border-solid w-1/4"> -->
        <div class="grid h-screen place-items-center">
            <div class="border-2 border-solid w-1/4 h-auto rounded-lg bg-white dark:bg-slate-700">
                <h1 class="flex justify-center text-3xl">PLACEHOLDER</h1>
                <h5 class="flex justify-center">PLACEHOLDER</h5>
                <div class="grid place-items-center">
                {% for link in links %}
                    <button class="border-2 border-solid m-1 w-5/6 h-10">twat</button><br>
                {% endfor %}
                </div>
                <div class="grid place-items-center">
                    <button class="material-symbols-outlined" onclick="">login</button>
                </div>
            </div>
        </div>
    </body>
</html>